<?xml version="1.0" encoding="UTF-8"?>
<web-app
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns="http://java.sun.com/xml/ns/javaee"
    xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
    http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" 
    version="3.0">

    <display-name>Demos</display-name>

    <!-- handels static content -->
    <servlet>
        <servlet-name>default</servlet-name>
        <servlet-class>org.eclipse.jetty.servlet.DefaultServlet</servlet-class>
        <init-param>
            <param-name>dirAllowed</param-name>
            <param-value>false</param-value>
        </init-param>
        <init-param>
            <param-name>cacheControl</param-name>
            <param-value>no-cache,no-store,must-revalidate</param-value>
       </init-param>
    </servlet>

    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <description>
            Display http request
        </description>
        <display-name>HttpRequestServlet</display-name>
        <servlet-name>HttpRequestServlet</servlet-name>
        <servlet-class>demo.HttpRequestServlet</servlet-class>
        <init-param>
            <param-name>css</param-name>
            <param-value>demo.css,requests.css</param-value>
        </init-param>
        <init-param>
            <param-name>title</param-name>
            <param-value>Request Demo</param-value>
        </init-param>
    </servlet>

    <servlet-mapping>
        <servlet-name>HttpRequestServlet</servlet-name>
        <url-pattern>/requests/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <description>
            Implements a simple transient list system.
        </description>
        <display-name>TransListServlet</display-name>
        <servlet-name>TransListServlet</servlet-name>
        <servlet-class>demo.TransListServlet</servlet-class>
        <init-param>
            <param-name>css</param-name>
            <param-value>demo.css,translist.css</param-value>
        </init-param>
        <init-param>
            <param-name>js</param-name>
            <param-value>local_ajax.js,translist.js</param-value>
        </init-param>
        <init-param>
            <param-name>title</param-name>
            <param-value>Transient List Demo</param-value>
        </init-param>
    </servlet>

    <servlet-mapping>
        <servlet-name>TransListServlet</servlet-name>
        <url-pattern>/sessions/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <description>
            A weather servlet
        </description>
        <display-name>WeatherServlet</display-name>
        <servlet-name>WeatherServlet</servlet-name>
        <servlet-class>notes.WeatherServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>WeatherServlet</servlet-name>
        <url-pattern>servlet/weather/*</url-pattern>
    </servlet-mapping>

    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>

    <security-constraint>
        <web-resource-collection>
            <url-pattern>/requests/auth</url-pattern>  
        </web-resource-collection>
        <auth-constraint>
            <role-name>admin</role-name> 
            <role-name>user</role-name>
        </auth-constraint>
    </security-constraint>

    <login-config>
        <!-- BASIC or DIGEST -->
        <auth-method>BASIC</auth-method> 
        <realm-name>Test Realm</realm-name>
    </login-config>

    <!--
    <error-page>
        <description>Missing login</description>
        <error-code>401</error-code>
        <location>/general-error.html</location>
    </error-page>
    -->
</web-app>
