<?xml version="1.0" encoding="UTF-8"?>
<web-app
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns="http://java.sun.com/xml/ns/javaee"
    xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
    http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" 
    version="3.0">

    <display-name>BPEdit</display-name>

    <!-- handels static content -->
    <servlet>
        <servlet-name>default</servlet-name>
        <servlet-class>org.eclipse.jetty.servlet.DefaultServlet</servlet-class>
        <init-param>
            <param-name>dirAllowed</param-name>
            <param-value>false</param-value>
        </init-param>
        <init-param>
            <param-name>cacheControl</param-name>
            <param-value>no-cache,no-store,must-revalidate</param-value>
       </init-param>
    </servlet>

    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <description> Blood Pressure Editor </description>
        <display-name>BPEdit</display-name>
        <servlet-name>BPEdit</servlet-name>
        <servlet-class>servlets.BPEdit</servlet-class>
        <init-param>
            <param-name>css</param-name>
            <param-value>bp.css</param-value>
        </init-param>
        <init-param>
            <param-name>js</param-name>
            <param-value>local_ajax.js,bp.js</param-value>
        </init-param>
        <init-param>
            <param-name>title</param-name>
            <param-value>Blood Pressure Edit/Display</param-value>
        </init-param>
    </servlet>

    <servlet-mapping>
        <servlet-name>BPEdit</servlet-name>
        <url-pattern>/edit/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <description> Blood Pressure Report </description>
        <display-name>BPReport</display-name>
        <servlet-name>BPReport</servlet-name>
        <servlet-class>servlets.BPReport</servlet-class>
        <init-param>
            <param-name>css</param-name>
            <param-value>bp.css</param-value>
        </init-param>
        <init-param>
            <param-name>js</param-name>
            <param-value>local_ajax.js,bp.js</param-value>
        </init-param>
        <init-param>
            <param-name>title</param-name>
            <param-value>Blood Pressure Report</param-value>
        </init-param>
    </servlet>

    <servlet-mapping>
        <servlet-name>BPReport</servlet-name>
        <url-pattern>/report/*</url-pattern>
    </servlet-mapping>


    <servlet>
        <description>User Account Admin</description>
        <display-name>UserEdit</display-name>
        <servlet-name>UserEdit</servlet-name>
        <servlet-class>servlets.UserEdit</servlet-class>
        <init-param>
            <param-name>css</param-name>
            <param-value>bp.css</param-value>
        </init-param>
        <init-param>
            <param-name>js</param-name>
            <param-value>local_ajax.js,ua.js</param-value>
        </init-param>
        <init-param>
            <param-name>title</param-name>
            <param-value>User Account Admin</param-value>
        </init-param>
    </servlet>

    <servlet-mapping>
        <servlet-name>UserEdit</servlet-name>
        <url-pattern>/users/*</url-pattern>
    </servlet-mapping>
    <servlet>
    	<description>Login Page</description>
    	<display-name>Login</display-name>
    	<servlet-name>Login</servlet-name>
    	<servlet-class>servlets.Login</servlet-class>
    	<init-param>
    		<param-name>css</param-name>
    		<param-value>proj.css</param-value>
    	</init-param>
    	<init-param>
    		<param-name>js</param-name>
    		<param-value>local_ajax.js,ua.js</param-value>
    	</init-param>
    	<init-param>
    		<param-name>title</param-name>
    		<param-value>Login</param-value>
    	</init-param>
    </servlet>
    <servlet-mapping>
    	<servlet-name>Login</servlet-name>
    	<url-pattern>/login/*</url-pattern>
    </servlet-mapping>

    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>

    <security-constraint>
        <web-resource-collection>
            <url-pattern>/edit/*</url-pattern>  
        </web-resource-collection>
        <auth-constraint>
            <role-name>admin</role-name> 
            <role-name>user</role-name>
        </auth-constraint>
    </security-constraint>

    <security-constraint>
        <web-resource-collection>
            <url-pattern>/report/*</url-pattern>  
            <url-pattern>/users/*</url-pattern>  
        </web-resource-collection>
        <auth-constraint>
            <role-name>admin</role-name> 
        </auth-constraint>
    </security-constraint>

    <login-config>
        <!-- BASIC or DIGEST -->
        <auth-method>BASIC</auth-method> 
        <realm-name>Test Realm</realm-name>
    </login-config>

    <!--
    <error-page>
        <description>Missing login</description>
        <error-code>401</error-code>
        <location>/general-error.html</location>
    </error-page>
    -->
</web-app>
