body {
    background: rgb(230,255,210);
    width : 90%;
    margin-left : auto;
    margin-right : auto;
}

table.editor {
    border : thin solid black;
    border-collapse : collapse;
}
table.editor td {
    border : thin solid black;
    padding : 4px;
}

div#user-list h2 {
    color : green;
}

div#user-list table tr td:first-child {
    width : 8em;
}
div#user-list table tr td:first-child + td {
    width : 8em;
}
div#user-list table tr td:first-child + td + td {
    width : 10em;
}

div#user-list table tr:first-child td {
    border-bottom : solid green thin;
}

div#navbar {
    border-bottom: solid green thin;
    text-align: center;
}

div#adminbar{
    border-bottom: solid green thin;
    border-top: solid green thin;
    text-align: center;
}

div.nav{
	position:absolute;
	left:20%;
	width:13%;
	border: solid green thin;
	background: rgb(210,255,175);
	margin-left: auto;
	margin-right: auto;
}

div.usersplash{
	position:absolute;
	left:38%;
}